html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Verdana", "Trebuchet MS", sans-serif;
    margin: 2rem;
    background: #fff;
    color: #000;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

@media screen and (max-width: 1000px) {
  h1, h3 {
  text-align: center;
  }

  p {
  text-align: center;
  font-size: 65%;
  }

  img {
  width: 90%;
  margin: auto;
  }
}
